@font-face {
    font-family: 'S-CoreDream-5Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-5Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    text-align:center;
    font-family:'S-CoreDream-5Medium', serif;
}
#my_header{
    padding: 5%;
    padding-bottom: 0;
    text-align:center;
}

.container {
    margin-top: 0;
    width: 80%;
    height: 50%;
    display: table;
    border-collapse: collapse;
    align-items:center;
    display: flex; 
    justify-content:center;
    margin-left: auto; 
    margin-right: auto;
    position: relative;
}
.box {
    height: 50%;
    float: left;
    display: table-cell;
}
#input_box {
    position: relative;
    top: 0px;
    width: 40%;
    display: flex;
    flex-direction: column;
}
#output_box {
    position: relative;
    top: 0px;
    width: 40%;
    display: flex;
    flex-direction: column;
}
#arrow{
    width: 30%;
}
#arrow_box{
    width: 10%;
    align-items:center;
    display: flex; 
    justify-content:center;
}
#output_table{
    width:100%;
}